@import url("https://fonts.cdnfonts.com/css/netflix-font");
@media only screen and (min-width: 1450px),
  only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 950px) and (max-width: 1449px) {
  .MovieCard {
    padding: 70px 45px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Netflix Sans", sans-serif;
  background-image: url("https://cdn.neowin.com/news/images/uploaded/2023/05/1683747988_background-size1920x1080-4e1694a6-75aa-4c36-9d4d-7fb6a3102005-bc5318781aad7f5c8520.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 30px;
}

/* Main page content */


/* Movies info card components styling */

.main-container-1 {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  margin: 50px 0 50px 0;
  border-radius: 10px;
}

.heading-navbar {
  display: flex;
  flex-direction: row;
  width: 950px;
  height: 100%;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #ffffff00 29%,
    #ffffff 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200%;
  }
}

.rating-popularity-container {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.movie-runtime {
  display: flex;
  align-items: center;
  border-bottom: solid;
  border-width: 2px;
  border-color: white;
  cursor: pointer;
  font-size: small;
  padding: 3px;
  margin: 0 8px 0 0;
}

.movie-runtime:hover {
  opacity: 70%;
}

.run-time {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  border-bottom: solid;
  border-width: 2px;
  align-items: center;
  margin: 0 8px 0 8px;
  padding: 3px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: small;
}

.rating:hover {
  opacity: 70%;
}

.rate {
  display: flex;
  flex-direction: column;
}

.popularity {
  display: flex;
  border-bottom: solid;
  border-width: 2px;
  align-items: center;
  margin: 0 0 0 8px;
  padding: 3px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: small;
}

.popularity:hover {
  opacity: 70%;
}

.likes {
  display: flex;
  flex-direction: column;
}

.thumbnail-about-wrapper {
  display: flex;
  width: 950px;
  height: 320px;
  margin: 10px 0 0 0;
  justify-content: space-between;
}

.img-box {
  display: flex;
  width: 400px;
  height: auto;
  margin: 0 0 5px 0;
}

.image {
  display: flex;
  width: 400px;
  height: auto;
  opacity: 90%;
}

.image:hover {
  opacity: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: auto;
  width: 460px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
  border-radius: 5px;
}

.release-date {
  display: flex;
  margin: 5px 0 0 0;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.origin-country {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.country-name {
  display: flex;
}

.production-companies {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.company-names {
  display: flex;
}

.spoken-languages {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.languages {
  display: flex;
}

.tagline {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-link {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-link a {
  text-decoration: none;
}

.movie-link a:hover {
  text-decoration: underline;
}

.genres {
  display: flex;
  flex-direction: row;
  margin: 5px 5px 5px 0;
  width: 750px;
}
.genre-types {
  display: flex;
  justify-content: left;
  padding: 5px;
  margin: 3px;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.genre-types:hover {
  opacity: 80%;
}

.overview {
  display: flex;
  width: 750px;
  padding: 5px;
  text-align: justify;
}

.main-container-2 {
  display: flex;
  width: 1100px;
  height: 1100px;
  padding: 75px;
  background: rgb(52, 52, 52);
  margin: 50px 0 50px 0;
  align-items: center;
  justify-content: center;
}

.main-container-3 {
  display: flex;
  width: 1100px;
  height: 1100px;
  padding: 75px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 0 50px 0;
  align-items: center;
  justify-content: center;
}

.flipCard {
  display: flex;
  height: 300px;
  width: 300px;
}

.flipCard__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .flipCard__inner {
  transform: rotateY(180deg);
}

.flipCard__front-side,
.flipCard__back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipCard__front-side {
  display: flex;
  background-color: transparent;
  color: white;
  border: solid;
  border-color: white;
  border-width: 1px;
  justify-content: center;
  align-items: center;
}

.flipCard__back-side {
  display: flex;
  background-color: transparent;
  color: white;
  border: solid;
  border-color: white;
  border-width: 1px;
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;
}

.flipCard__front-side-heading {
  font-size: 55px;
  color: white;
}

.flipCard__back-side-heading {
  font-size: 55px;
  color: white;
}
